<% include ../partials/header %>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body mass index is: 
    <strong><%= Math.round(bmi * 100) / 100 %></strong>
    </br>
    Your weight is: 
    <strong><%= bmiCategory %></strong>
    </br>
    Your hip to waist ratio is: 
    <strong><%= Math.round(hipToWaist * 100) / 100 %></strong>
    </br>
    Your hip to waist category is:
    <strong><%= hipToWaistCategory %></strong>
</div>


<% include ../partials/footer %>